@tailwind base;
@tailwind components;

.theme-first {
    --color-primary: #155e75;
    --color-secondary: #cffafe;
}

.theme-second {
    --color-primary: #991b1b;
    --color-secondary: #fecaca;
}

.theme-third {
    --color-primary: #166534;
    --color-secondary: #bbf7d0;
}

@tailwind utilities;